.swp_form .dark, .swp_form .light
{
    padding:15px;
    border-radius: 5px;
}
.swp_form .dark, .swp_form .light span.label
{
    font-size: 18px;
}
.swp_form .dark
{
    background: rgba(50, 50, 50, 0.8);
    color:#DEDEDE;
    border: 1px solid #000;
}
.swp_form .light
{
    color: #030303;
    background:#DEDEDE;
    border: 1px solid #A0A0A0;
}
.slide-content
{
    padding: 15px 50px;
}
.slide-content h3
{
    text-align: center;
}
.slide-content .content
{
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}
.slide-content .admin-answer
{
    font-style: italic;
    font-size: 12px;
    text-align: right;
    position: relative;
    padding-top: 25px;
}
.slide-content .admin-answer:before
{
    width: 100px;
    height:1px;
    content: " ";
    border-top:1px solid #0F0F0F;
    display: block;
    position: absolute;
    top:0;
    left:50%;
    margin-left: -50px;
}